PORT = 3000

# mysql credentials
DB_HOST = "localhost"
DB_USER = "root"
DB_PASSWORD = "password"
DB_NAME = "project_management_db"

# mongodb uri
MONGODB_URI = "mongodb://localhost:27017/project_management_db"