PORT = 3000

# mysql credentials
DB_HOST = "localhost"
DB_USER = "root"
DB_PASSWORD = "password"
DB_NAME = "project_management_db"

# mongodb uri
MONGODB_URI = "mongodb://localhost:27017/project_management_db"

# JWT Tokens
ACCESS_TOKEN_SECRET = "access token secret"
REFRESH_TOKEN_SECRET = "refresh token secret"

# Ethereal credentials
MAIL_HOST = "sandbox.smtp.mailtrap.io"
MAIL_PORT = 2525
MAIL_USER = "your_mailtrap_user"
MAIL_PASS = "your_mailtrap_pass"
MAIL_FROM = "noreply@taskmanager.com"